{% extends "base.html" %}
{% block content %}


<div class="col-sm-9">
    <div class="row">
            {% for art in art_spozywcze_q %}
              <div class="col-sm-2">
                <div class="thumbnail">
                        {% if art.image %}
                          <img src='{{ art.image.url }}' class='img-responsive'/>
                        {% endif %}

                  <div class="caption">
                        <h4><a href='{{ art.get_absolute_url }}'>{{ art.title }}</a>
                        </h4>
                        <p>{{ art.content|linebreaks|truncatechars:120 }}</p>

                        <h5 class="pull-right">€ {{art.price }}</h5>
                        <a href="{{ art.get_absolute_url }}" class="btn btn-default btn-sm" role="button">Zobacz</a>
                  </div> 
                </div>
              </div>
           {% endfor %}
    </div>
</div>

{% endblock content %}